.hello-inner {
    display: flex;
    padding-top: 12rem;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    transition: all 0.4s ease;

    @media screen and (max-width: 1111px) {
        padding-top: 6rem;
        gap: 4rem;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding-top: 4rem;
        gap: 3rem;
    }

    .img-wrap {
        border-radius: 2rem;
        overflow: hidden;
        width: 50%;
        max-width: 60rem;
        transition: all 0.4s ease;

        @media screen and (max-width: 1111px) {
            max-width: 35rem;
        }

        @media screen and (max-width: 768px) {
            width: 90%;
            max-width: 90%;
        }
    }

    .t-wrap {
        text-align: center;
        width: 50%;
        max-width: 63rem;
        transition: all 0.4s ease;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        h2.tit {
            color: var(--primary);
            margin: 3rem 0 2rem;
            transition: all 0.4s ease;
            

            @media screen and (max-width: 1111px) {
                margin: 1.5rem 0 1.5rem;
                font-size: 4.5rem;
            }

            @media screen and (max-width: 768px) {
                font-size: 4rem;
            }
        }
    }
}