.hero-container {
  height: 90rem;
  position: relative;
  transition: height 0.4s ease;

  @media screen and (max-width: 1111px) {
    height: 60rem; 
  }

  .swiper {
    height: 100%;
  }

  .hero-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      max-width: 164rem;

      .t-wrap {
        margin-left: 5rem;
        transition: margin 0.4s ease;

        @media screen and (max-width: 1111px) {
          margin-left: 3rem; 
        }

        h2.tit {
          font-size: 7.3rem;
          transition: font-size 0.4s ease;

          @media screen and (max-width: 1111px) {
            font-size: 4.5rem; 
          }

          @media screen and (max-width: 768px) {
            font-size: 4rem; 
          }
        }

        p {
          font-size: 2.1rem;
          margin-top: 4rem;
          transition: all 0.4s ease;

          @media screen and (max-width: 1111px) {
            font-size: 1.6rem; 
            margin-top: 2rem;
          }

          @media screen and (max-width: 1111px) {
            font-size: 1rem; 
            margin-top: 2rem;
          }
        }
      }
    }

    &.hs-1 {
      h2 {
        color: var(--primary);
      } 
      p {
        color: var(--primary);
      }
      a.btn {
        background-color: var(--primary);
        color: var(--bg2);
      }
    }

    &.hs-2 {
      h2 {
        color: var(--bg2);
      } 
      p {
        color: var(--bg2);
      }
      a.btn {
        background-color: var(--bg2);
        color: var(--primary);
      
      }
      
    }

    &.hs-3 {
      h2 {
        color: var(--muted);
      } 
      p {
        color: var(--muted);
      }
      a.btn {
        background-color: var(--bg2);
        color: var(--muted);
      }
    }
  }

  .hero-nav {
    position: absolute;
    z-index: 3;
    left: 7.5vw;
    bottom: 8.7rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: bottom 0.4s ease;

    @media screen and (max-width: 1111px) {
      bottom: 4rem;
    }

  }
}